resume_training: false
from_start: false

epochs: 100
batch_size: 256
lr: 0.0001

num_workers: 64
grad_accum_every: 2
max_grad_norm: 1.
num_gpus: 8

val_every_epoch: 2
save_every_epoch: 1
log_every_step: 20

use_wandb_tracking: false
wandb_project_name: flow_matching
wandb_run_name: test


DATA:
    train_set_file_path: /studio/datasets/abc/dataset/wireframe_latent/train
    val_set_file_path: /studio/datasets/abc/dataset/wireframe_latent/val
    replication: 1

    use_partial_pc: true

MODEL:
    in_channels: 16
    hidden_size: 768
    depth: 12
    num_heads: 12
    mlp_ratio: 4.0
    learn_sigma: True

    path_type: Linear 
    prediction: velocity
    loss_weight: None
    train_eps: 0.0
    sample_eps: 0.0
    num-sampling-steps: 250

    latent_num: 64

    condition_on_points: true
    condition_on_img: false

    checkpoint_folder: checkpoints/checkpoints_flow_matching
    checkpoint_file_name: model-100.pt