resume_training: false
from_start: false

epochs: 100
batch_size: 384
lr: 0.0001

num_workers: 64
grad_accum_every: 2
max_grad_norm: 1.
num_gpus: 8

val_every_epoch: 2
save_every_epoch: 1
log_every_step: 20

use_wandb_tracking: false
wandb_project_name: flow_matching
wandb_run_name: test


DATA:
    train_set_file_path: /studio/datasets/abc/dataset/wireframe_latent/train
    val_set_file_path: /studio/datasets/abc/dataset/wireframe_latent/val
    gen_path: /studio/datasets/abc/gen/wireframes
    replication: 1

    use_partial_pc: false

MODEL:
    in_channels: 16
    hidden_size: 768
    depth: 12
    num_heads: 12
    mlp_ratio: 4.0
    learn_sigma: True

    latent_num: 64

    condition_on_points: false
    condition_on_img: false

    checkpoint_folder: checkpoints/checkpoints_flow_matching
    checkpoint_file_name: model.pt

SAMPLING:
    mode: SDE

    # num
    batch_size: 16
    iter_num: 2